@import url('root.css');

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--footer-height);
    background: var(--color-primary);
    color: var(--color-white);
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-footer);
    
    .artistInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-sm);
        flex: 1;
        min-width: 180px;
    }
    .trackInfo {
        z-index: 1000;
        max-width: 200px;
        overflow: hidden;
    }

    .marquee {
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
        position: relative;
    }

    .marquee.scrolling {
        -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 4%, rgba(0, 0, 0, 1) 96%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 4%, rgba(0, 0, 0, 1) 96%, rgba(0, 0, 0, 0) 100%);
    }

    .songTitle, .artistName {
        display: inline-block;
        white-space: nowrap;
        color: white;
    }

    .marquee.scrolling .songTitle::after,
    .marquee.scrolling .artistName::after {
        content: attr(data-text);
        padding-left: 30px;
    }

    .marquee.scrolling .songTitle,
    .marquee.scrolling .artistName {
        animation: marquee-scroll-seamless 20s linear infinite;
    }

    .nowPlaying {
        flex: 2;
    }

    .volumeControl {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .artistInfo button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        color: var(--color-white);
    }
    

}




.playbackControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
}

.progressContainer {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    width: 100%;
    margin: 0 auto;
}

.progressContainer span {
    font-size: var(--font-size-sm, 12px);
    color: var(--color-white);
    min-width: 40px;
}

.currentTime {
    text-align: right;
}

.totalTime {
    text-align: left;
}

#progressBar {
    flex: 1;
    height: 4px;
    cursor: pointer;
}


.material-symbols-outlined {

    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    opacity: 0.7;
}

.material-symbols-outlined:hover {
    color: var(--color-accent);
    opacity: 1;
}

@keyframes marquee-scroll-seamless {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 15px));
    }
}
