
.main-wrapper {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    min-height: 100vh;
}

.main-wrapper.expanded {
    margin-left: 0;
}

/* Main Content */
main {
    padding: 20px;
}

