header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 60px; 
    background-color: rgb(30, 30, 30);
    color: white;
}

.searchBar {
    appearance: none;
    border: 1px solid #ffffff;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.searchBar button {
    appearance: none;
    border: 1px solid #ffffff;
    padding: 1px;
    background-color: #ffffff;
    border-radius: 2px;
}

.searchBar input {
    appearance: none;
    border: 1px solid #ffffff;
    padding: 1px;
    background-color: #ffffff;
    border-radius: 2px;
    height: 20px;
    width: 160px;
}